In [1]:
%load_ext autoreload
%autoreload 2

from sociophysicsDataHandler import SociophysicsDataHandler

In [2]:
dh = SociophysicsDataHandler()

In [3]:
## Cas, for you it should be true
student_config = False

if student_config:

    dh.fetch_data_from_path('asdz/platform2.1/20200428/ASDZ_Perron2.2_2020042815_trajectorie.parquet')
else:
    webdav_basepath='/Crowdflow (Projectfolder)/ProRail_USE_LL_data'
    dh.fetch_data_from_path('asdz/platform2.1/20200428/ASDZ_Perron2.2_2020042815_trajectorie.parquet'
                            ,basepath=webdav_basepath)

trying to fetch: /Crowdflow (Projectfolder)/ProRail_USE_LL_data/asdz/platform2.1/20200428/ASDZ_Perron2.2_2020042815_trajectorie.parquet
data fetched. Accessible as <this-object>.df

In [4]:
dh.df

       date_time_utc tracked_object   x_pos  y_pos
0      1588086000000         129648  -11079  -3286
1      1588086000100         129648  -11128  -3235
2      1588086000200         129648  -11200  -3160
3      1588086000300         129648  -11247  -3036
4      1588086000400         129648  -11356  -2958
...              ...            ...     ...    ...
99948  1588089522600         130098  -16015  -1411
99949  1588089522700         130098  -16015  -1411
99950  1588089522800         130098  -16048  -1394
99951  1588089522900         130098  -16067  -1388
99952  1588089523000         130098  -16084  -1381

[99953 rows x 4 columns]